[2016-03-05 16:54] sacdallago opened #6 "Coding style"
Please, **please** your code should be very, **very** well structured (indentation!!) and understandable!

This is not: https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/crawler/twitter.js

- [ ] commenting out console.log isn't nice. Delete them
- [ ] indentation, indentation, indentation!
- [ ] your comments are not really helping me understand the code (maybe it's indentation, maybe

[2016-03-05 18:00] julienschmidt commented on #6
Hi Christian,
I specifically asked Santanu to make a PR with whatever he currently has, since we ran into problems with the Twitter API (see #5), we currently can only get Tweets from the last 7 days. I wanted to help him finding a solution. You wrote earlier that you want PRs so you can see who did what. That's why I merged his code first instead of just creating a branch from his dev branch. So

[2016-03-05 18:00] #6 closed

[2016-03-06 02:46] julienschmidt opened #7 "Visualization"
What's the progress on the visualization part?
At least some graphical part (with mock data) would be nice for the presentation.

CC @marcusnovotny

[2016-03-06 03:27] marcusnovotny commented on #7
Sent a pull request (#9)

[2016-03-06 03:38] julienschmidt commented on #7
Thanks!

[2016-03-06 03:38] #7 closed

[2016-03-06 19:08] sacdallago commented on #6
Thanks @julienschmidt for the answer! I understand :) Just wanted to point out, and yes: Autoformatters on athom, brackets, or whatever editor are your best friends.

Good luck guys! If you really get lost on coding also open up issues and assign them to us mentors ( @sacdallago, @gyachdav , @goldbergtatyana and @dmitry-n ) and we will try to help you. We won't be as quick as some of your teammate

[2016-03-06 19:14] ghost commented on #6
Thanks @sacdallago  and @julienschmidt for your valuable inputs/helps !

[2016-03-06 21:28] sacdallago opened #11 "Revert master to initial state"
Hey Julien, I just checked master and saw it was not in the cb4f4d09b04ec460d2c1fc16e08e2d4919213c5a state. Could you revert your commit?

Thx

[2016-03-06 21:29] julienschmidt commented on #11
I tried already, but the master branch is protected. I can't do a forced push.

[2016-03-06 21:32] sacdallago commented on #11
Try now and close the issue when you are done so I protect it again (tell no one :D)

[2016-03-07 14:18] julienschmidt opened #16 "Remove bloat"
With PR #14 we have the following (heavy) libraries:
* D3.js
* jQuery
* jQuery UI
* Modernizr (date form input)

It would be nice if we could remove bloat.

[2016-03-07 14:21] julienschmidt opened #17 "Get Tweets"
- [ ] get last 7 days for each character (or more, if somehow possible)
- [ ] get new tweets with streaming API

[2016-03-07 14:31] julienschmidt opened #18 "API: Most popular characters"
Controller to return the most popular characters

[2016-03-15 16:56] sacdallago opened #20 "Share schema definition with project A and use same database"
In an effort to bring together the pieces, we came up with the following requirements:

The schema of what you store about the sentiments of a character needs to be merged with the database of project A.

This can be done in the following fashion:
[code]

Where I mean [this](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/models/tweet.js#L8) by your twitter schema.

You will write dir

[2016-03-15 18:47] AlexMoroz commented on #20
@CavidSalahov assign it to yourself =)
I don't have access to the repo.

[2016-03-15 20:30] julienschmidt commented on #20
I'm a mongoDB newb but is it a good idea to embed millions of tweets in another document?
Also we need to store the [popularity](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/models/character.js#L20) somewhere in the character schema

[2016-03-15 22:15] sacdallago commented on #20
Sorry. Yes. It's the popularity that you will store in the characters schema of A. The tweets you can save on a gitignored folder on FS or a supplementary dummy database (even SQLisch, no F given in that sense :D ). Storing this kind of data in a production database, as you say, makes no sense.
I mean; I would do it like this! Then, do as you see fit.

[2016-03-16 10:22] julienschmidt commented on #11
@sacdallago I need to force push again :blush:

[2016-03-16 10:27] #17 closed

[2016-03-16 10:30] sacdallago commented on #11
Guys, pay attention to this pls

P.S.: same as above, close when done

[2016-03-16 10:53] #11 closed

[2016-03-16 13:04] kajo404 opened #21 "Database for tweets"
Hello Guys,

this is to start the discussion about the tweet database that stores all tweets gathered. I still think it is a good idea to use the same database for both our groups to increase sample size.

Now we need to figure out what database to use and what information we want to store. I took a look at your schema you used for mongodb and we have nothing to add, it seems to cover all the info

[2016-03-16 14:02] jsalahov commented on #20
Why this is assigned to Project E? I wasn't present on Tuesday's meeting. If there are some new responsibilities, it would be nice if someone would brief me :smile:

[2016-03-16 17:50] CavidSalahov opened #22 "Replace Grunt with Gulp"
Guys, if you do not have any sincere feelings towards Grunt :stuck_out_tongue_winking_eye: can I replace it with Gulp? :smiling_imp:

[2016-03-16 17:51] julienschmidt commented on #22
What's the purpose? Grunt runs great so far.

[2016-03-16 17:58] jsalahov commented on #22
Of course it does. And I can assure you, so will Gulp :smile: I just need to add some stuff related to tests, don't want to mess with grunt

[2016-03-16 17:59] julienschmidt commented on #22
If you configure jshint with the same settings again (and adjust the Travis cfg), I'm fine with it.

[2016-03-16 18:07] jsalahov commented on #22
Yeah, sure

[2016-03-16 19:27] julienschmidt opened #24 "Scraping Twitter mobile site"
## 1. Make search
Go to `https://mobile.twitter.com/search?q={character+name}&s=typd&x=13&y=16`, e.g. `https://mobile.twitter.com/search?q=tyrion+lannister&s=typd&x=13&y=16` **with JavaScript disabled** (otherwise a non-static site is served) or just wget / cURL it.

## 2. Extract content
We get a list of tweets. For each tweet there is an entry like the following:
[code]
Of specific interest is
[

[2016-03-17 05:37] kordianbruck commented on #20
@CavidSalahov instead of using your own database it would be smart to use one database when we merge all the projects together. So we have to integrate your schema now, in order that packaging becomes easier later.

[2016-03-17 09:37] julienschmidt opened #25 "[meta] Feature Freeze"
- [x] ~~Define DB Schema for Project A #20~~
- [x] ~~Export Crawler init functions~~
- [x] Export Crawler update functions
- [x] Define CSV API
- [x] Export Function to render chart for one Character
- [x] ~~¿ List of most popular characters (or are they just using the DB) ? #18~~
- [x] JS / CSS files which have to be included || Function to set path so that we get them right in our Views

See htt

[2016-03-17 10:41] jsalahov commented on #20
Thanks @kordianbruck, I thought that was the plan from the get-go. Still @sacdallago why this is assigned to E? :confused:

[2016-03-17 11:22] kajo404 commented on #21
Okay so we petty much settled on using mongoDB for this. I guess we can make a generell schema that saves all the important information about a tweet. We can include a optional sentiment field where you can put in your groups sentiment score. You can then find the tweets we collected and run your sentiment analysis aswell and fill the information to fit your needs.

[2016-03-17 15:00] sacdallago commented on #20
@CavidSalahov Your team provides integration, I cite the wiki's title:

:D just _thought_ this would need some attention by someone who has an overview of integration, ya know :P

[2016-03-17 15:13] jsalahov commented on #22
@julienschmidt As I see it, precommit hook is set up as optional step. Is this intentional? I can make it mandatory/automatic, if needed.

[2016-03-17 15:16] julienschmidt commented on #22
It's an optional client-side hook. You could probably enforce it with gulp but that's a pretty bad idea in my opinion, you should never mess with a client's git config without asking first.

[2016-03-17 15:19] julienschmidt commented on #22
Also it seems to break GitHub desktop since the env is not configured correctly there.

[2016-03-17 15:20] jsalahov commented on #22
Just asking, will leave it as optional step

[2016-03-17 15:47] sacdallago commented on #22
I like the idea of the hook btw

[2016-03-17 15:47] sacdallago commented on #22
P.S.: didn't mean to close the issue. :baby:

[2016-03-17 15:57] jsalahov commented on #22
@julienschmidt It turns out Github desktop doesn't support hooks. So you have to commit from bash for hooks to work

[2016-03-17 16:03] julienschmidt commented on #22
It doesn't have to, since it just runs git and git supports those hooks :stuck_out_tongue_closed_eyes:
But npm needs some environment vars which are not available when it's called from Github Desktop.

I use git from the shell anyway :smile:  (But I don't expect anyone else to)

[2016-03-17 16:10] jsalahov commented on #22
Well, it  doesn't run git (at least on Windows), crazy I know :smile: . It uses a library called libgit

[2016-03-17 16:12] julienschmidt commented on #22
Actually I just got it working with GitHub Desktop (Mac) with as slightly extended hook script:

[code]

[2016-03-17 16:14] jsalahov commented on #22
I just read about that :smile: Well, I'm never gonna get those shiny ui things(and their problems :wink: )  anyway. Linux FTW

[2016-03-17 23:52] julienschmidt opened #30 "Gulp: Lint not enforced"
Currently warnings by jshint are not treated as errors and therefore don't let the test fail.

We're strict here, please change the behavior so that warnings are treated as errors :smiling_imp:

[2016-03-18 00:24] #16 closed

[2016-03-18 00:28] julienschmidt commented on #21
Not that many differences anymore :stuck_out_tongue_winking_eye:
https://github.com/Rostlab/JS16_ProjectD_Group5/commit/307d723c52f5e4815c56acefc9b5292347d2ec34#diff-6683268f1fdd0443cb8c62f4ac6ee4fcR5

[2016-03-18 00:58] julienschmidt opened #33 "Crawling blacklist"
Here is a very incomplete list of names which are too generic / short / have a different meaning and therefore produce unusable results or just bloat the database (e.g. Will). I'd therefore like to blacklist them from the crawling by a simple attribute.
Please let me know if any of those persons is important.

[code]

[2016-03-18 00:59] julienschmidt commented on #33
If you find more of such names, please let me also know ;)

[2016-03-18 01:31] julienschmidt commented on #22
Fixed by #27

[2016-03-18 01:31] #22 closed

[2016-03-18 07:51] #30 closed

[2016-03-18 09:56] gyachdav commented on #33
here u go

[2016-03-18 09:59] julienschmidt commented on #33
Removed

[2016-03-18 12:35] gyachdav commented on #33
what? these two are the /important/ names. They should be kept. The /other short names/ should be removed.

On Mar 18, 2016, at 5:59 AM, Julien Schmidt notifications@github.com wrote:

[2016-03-18 12:37] julienschmidt commented on #33
This is a blacklist. The /important/ names were removed from the blacklist and will therefore be available :wink:

[2016-03-18 12:41] gyachdav commented on #33
got it. thx
On Mar 18, 2016, at 8:37 AM, Julien Schmidt notifications@github.com wrote:

[2016-03-18 13:29] julienschmidt opened #36 "Data Aggregation"
We should make a plan how we aggregate the data

Our input is a database with tons of tweets and our output should be CSV data per character and week / day / hour (/ 10/5/1 minutes?)

My idea would be local "buckets" (basically just a multi-dimensional array) where we can easily append data from streamed tweets etc. Any other ideas?

[2016-03-18 13:32] julienschmidt commented on #36
When 1 hour is our highest "precision", we would generate buckets for each character and hour from DB.
Then we would use those to aggregate them into daily buckets etc.
This might require a little too much memory though.

[2016-03-18 13:39] julienschmidt commented on #36
We could however generate static files then and just keep the most-recent buckets in-memory.

[2016-03-18 15:17] sacdallago opened #38 "https vs http"
Hey guys, I noticed [this](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/crawler/got.js#L2)

Can't you add a layer of abstraction giving the possibility to the user implementing the package to decide whether he/she wants to use https or http?

I say this because:
1. The package needs to be as reusable as possible, and enforcing the most restrictive of two alternatives is already meh

[2016-03-18 19:22] julienschmidt commented on #24
I just made 500 requests. There doesn't seem to be any request limiting! :balloon:

[2016-03-18 20:14] julienschmidt opened #42 "Improve sentiment module training"
The percentage of tweets with a usable Sentiment score seems rather low.
Someone should analyze some of the tweets with score=0 and look for words which we can manually add to the wordlist.

[code]

[2016-03-19 13:59] #38 closed

[2016-03-19 17:58] julienschmidt commented on #20
[WIP]

[code]

anything to add?

[2016-03-19 18:11] julienschmidt commented on #20
Project A probably also should add [a slug](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/f7f15887322cbb6574549bad003b91292cdcf1e3/models/character.js#L12) to characters, so that they are consistent between all projects.

[2016-03-19 18:18] julienschmidt commented on #20
Slug Issue: https://github.com/Rostlab/JS16_ProjectA/issues/100

[2016-03-20 09:05] julienschmidt commented on #33
Reek is really causing trouble: https://twitter.com/search?f=tweets&vertical=default&q=reek&src=typd
We should think of other options, like including another keyword (`game`, `GoT`), to reduce the number of unwanted tweets.

[2016-03-20 09:08] julienschmidt commented on #33
Isn't the "popular Reek" actually this guy: http://awoiaf.westeros.org/index.php/Theon_Greyjoy ?
I have no idea about GoT :stuck_out_tongue_closed_eyes:

[2016-03-20 10:25] sacdallago commented on #33
I have no idea either.. @gyachdav ? :D Anyway yes, you have a black list, now you can try out a gray list where you change the original search term to something more restrictive.. Like your very wisely suggested "reek got"

[2016-03-20 11:21] julienschmidt commented on #33
We might add a greylist and aliases later. For now we simple can not include too short / generic names.

I think in the end we actually have to use a whitelist. We might use a metric to approve certain names automatically, but whenever the DB gets updated with another name like "reek" we certainly run into problems.

It already takes about half a day to get the results with the REST API (only last

[2016-03-20 11:22] sacdallago commented on #33
:+1: sure! Focus on what can be done

[2016-03-20 14:23] gyachdav commented on #33
Okay not that important then.

Sent from my iPhone

[2016-03-20 14:23] gyachdav commented on #33
Yes he is the same guy but with a changed persona and hence the new nick name. He is one of the characters that is set up for either greatness or utter failure. Either way the character will be quite important in the upcoming season and be called reek.  If you can filter the tweets to a manageable level for this character that would be great. Using the #got sounds reasonable.

Sent from my iPhone

[2016-03-20 18:11] #24 closed

[2016-03-20 18:35] julienschmidt opened #44 "[deployment] Where to store which data?"
I'm still not really clear where we are supposed to store which data and how we provide data to the other Projects.

As far as I understood, we are supposed to use the same DB as Project A to save our data on characters (#20). So we should update the DB directly with our metadata on characters?

@sacdallago told us that we may use "our own" (i.e. configurable local DB?) for the Tweets. This databa

[2016-03-20 22:04] marcusnovotny commented on #42
I volunteer, can you export a bunch for me?

[2016-03-20 22:05] julienschmidt commented on #42
Sure, but this one is low priority. See [milestones/Feature freeze](https://github.com/Rostlab/JS16_ProjectD_Group4/milestones/Feature%20freeze) for now.

[2016-03-20 22:07] marcusnovotny commented on #42
Then next week!

[2016-03-20 22:08] marcusnovotny commented on #44
Nothing to add from my side

[2016-03-21 08:05] ghost commented on #44
As far as I understood, the twitter data we can save in our own database but need to provide the popularity/sentiment per character to A's database.

[2016-03-21 09:25] sacdallago commented on #44
@santanumohanta is correct, just look at how [D5](https://github.com/Rostlab/JS16_ProjectD_Group5/issues) did it, they have several cross-issues with project A and some older, closed issues where these things have been discussed ;)

Anyway you got the idea: db for the tweets, provide the functions to get the sentiments to A so that they can store it on their DB and service it via API. not the clea

[2016-03-21 09:25] #44 closed

[2016-03-21 10:06] sacdallago commented on #24
I'm amazeballized

[2016-03-21 15:57] julienschmidt opened #46 "Twitter Streaming API"
What is the current status of the Streaming API @santanumohanta ?
How does it have to be activated? Once or in Intervals?

[2016-03-21 16:10] julienschmidt opened #47 "[Twitter] Classify remaining characters"
Currently the crawler shows a list of "unclassified" characters at every start:
[code]
Those are characters with names that are rather short and could possibly be "unsearchable" on Twitter.

Those remaining characters have to be classified into the whitelist and the blacklist (config.json[.sample]) like this:
1. Go to `https://twitter.com/search?f=tweets&vertical=default&q="{charactername}"&src=sp

[2016-03-21 16:30] julienschmidt opened #48 "[crawler/mobile] crawl sometimes fails due to server errors"
Sometimes the Twitter Servers return `503` (Service Unavailable) errors.
The Mobile Crawler then fails:
`[crawler][ERROR] FAILED MCRWL Tommen Baratheon { status: 503, data: '' }`
I'm not sure if the Mobile Search site or the REST API returns this errors. The Crawler should retry after a few seconds in such a case.

https://github.com/Rostlab/JS16_ProjectD_Group4/pull/45/commits/b676261cab14940b87a

[2016-03-21 16:35] julienschmidt commented on #21
Sorry @kajo404 but I think we are unable to use a common database because a) the latency is too high (the crawling already takes way too long) b) Free solutions are too limited (DB size / #requests).

However, we are able to crawl the whole Twitter archive now. We can provide you with a dump of our database, if you need one.

[2016-03-21 16:35] #21 closed

[2016-03-21 20:04] #33 closed

[2016-03-21 22:31] #48 closed

[2016-03-22 07:07] sacdallago commented on #21
What do you use again for the tweets? Mongo, right?
How big do you expect the database to be? And prospective growth in 1y?

@gyachdav we might need to bother someone again.

I'm gonna be out for the day. If anything comes up and you need me write here and send the link to the issue on http://dallago.mtalk.net

Peace.

[2016-03-22 11:42] julienschmidt commented on #18
We'll use a JS API instead

[2016-03-22 11:42] #18 closed

[2016-03-22 11:47] julienschmidt commented on #25
## Preliminary API draft

### Config
- Twitter API key
- DB URI for Tweets
- CSV Path (Where should the generated CSV files be saved?)
- Optional: extend / overwrite crawling whitelist & blacklist

### JS API

[code]

### CSV API

The CSV API is used by chart.js

##### Episodes (all):

 `/csv/episodes.csv`

##### Data per Character:

[code]

### How to display a chart:

The following files have to

[2016-03-22 17:01] julienschmidt opened #51 "[crawler] random hangs"
The crawler currently hangs randomly (?) sometimes without any exceptions for some reason after a long run time. To be debugged...

[2016-03-22 17:33] julienschmidt commented on #51
I'm debugging with the following "alive ping" now. The `where` is updated before every larger block / at the beginning of each async code. Let's see where it hangs...

[code]

[2016-03-22 17:46] julienschmidt commented on #20
@sacdallago just to clarify once again: In the original issue description you said "_You will write directly on the database that A uses that should be somewhere on mLab_".
But later you told us (in person) that we only provide them with a schema for the data they can fetch from our package and an JS API func to get this data. We do not update the DB directly. Is that correct?

[2016-03-22 17:52] AlexMoroz commented on #20
@julienschmidt  On the presentation on Thursday it was decided that project D will use API. And it will be integrated in project F, so there is no possibility to use DB directly.

[2016-03-22 17:53] AlexMoroz commented on #20
Also I thought that you had feature freeze on 21st, or no?

[2016-03-22 17:57] julienschmidt commented on #20
But do they still require our Schema? They could just use our JS API :wink: (we have this information in our DB anyway)

And regarding feature freeze: https://groups.google.com/forum/#!topic/javascript-technology-2016/P7Vo_NJcDXY
March 28 for Project D. But I'll try to finish tomorrow. I'm already using the time that I should spent on my thesis for this project...

[2016-03-22 20:00] sacdallago commented on #20
@julienschmidt they don't require your schema, that's correct. You are aware as well as I that things in this project have changed unexpectedly :( I'm very sorry for the development, I truly am, I've just been trying to make sense out of the different components there were and sometimes it meant sending you directions which ultimately produced superfluous outcomes.
You know your project best and I

[2016-03-22 20:01] #20 closed

[2016-03-22 20:15] julienschmidt commented on #51
We have a winner:

[code]

I inserted that before the `request(..)` call in [crawler/mobile.js#L12](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/cb8a588dfce9aee284c7d07077cd85a32bf7c871/crawler/mobile.js#L12). The callback gets never called. I already set a timeout of 30s in the request.

If you have any idea - let me know :disappointed:

[2016-03-22 20:59] julienschmidt commented on #51
goddamnit github... "_might_ fix", not "fixes"

[2016-03-22 22:49] julienschmidt commented on #51
#53 might have fixed the mobile.get hangs. But now [crawler/twitter.js#L34](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/cb8a588dfce9aee284c7d07077cd85a32bf7c871/crawler/twitter.js#L34) is sporadically hanging. Try to use a custom Agent in the Twitter client too.

Selfnote: Twit already returns Promises, the callback->Promise wrapper can be removed

[2016-03-23 00:18] julienschmidt commented on #25
work ~~in progress~~: #56

[2016-03-23 14:04] sacdallago commented on #51
@marcusnovotny @santanumohanta what are you guys doing?

[2016-03-23 15:21] marcusnovotny commented on #51
@sacdallago This issue exceeds my knowledge I'm afraid

[2016-03-23 15:29] ghost commented on #51
@sacdallago  same for me ... this is over my head!

[2016-03-23 15:46] gyachdav opened #58 "Number of tweets analyzed"
Fellas, as part of the media blitz we're planning there will be a press release that will throw some big numbers at the readers. Can you provide some impressive statistics about the data your tools processed e.g. our crawler fetched 2M tweets and 10M sentiments keyword processed.  Any thing that you think might be interesting IS interesting.

[2016-03-23 15:54] sacdallago commented on #51
Good. At least make it clear to @julienschmidt and us :)
Btw I don't think @julienschmidt knows exactly where to look either but is trying something, _just saying_
And since I have you attention: please take care of closing @julienschmidt PR when he opens 'em

[2016-03-23 17:02] yashha opened #59 "SyntaxError: Unexpected token ..."
after executing `var d4 = require('gotsentimental');`
[code]

[2016-03-23 17:04] julienschmidt commented on #59
That is valid (strict) ES6 JavaScript and works well with recent node.js versions. Time to update!

[2016-03-23 17:04] #59 closed

[2016-03-23 17:06] julienschmidt commented on #59
That might not be the only code causing problems with old node.js versions btw. I made use of other ES6 features and especially excessive use of Promises.

[2016-03-23 17:06] yashha commented on #59
Thanks :)
I love updating my node :heart:  :smile:

[2016-03-23 17:45] julienschmidt commented on #51
The only way to change the behavior of the twitter client would be to change the global https.Agent - which would affect every other project when our package is included.

I therefore asked the developer of the Twit package to allow the usage of either keepAlive (which I assume "fixed" it for the mobile client) or a custom Agent. KeepAlive should also improve the performance again.

[2016-03-23 18:38] julienschmidt commented on #58
I believe this isn't urgent?

Blocking issues: #42 #47

[2016-03-24 10:15] sacdallago commented on #59
I love the _excessive_ @julienschmidt
@yashha binaries are your friend! I don't know how to this day it is possible that package managers are so crappy

[2016-03-24 19:59] julienschmidt opened #65 "[visualization] change data on zoom"
The CSV "API" provides data for 3 zoom levels: year (contains data per day), month (per hour), day (per minute).

When reaching a certain zoom level the more specific data should be loaded and the graph replaced.
Maybe it is also necessary to load 2 files and append them when e.g. parts of 2 months are currently visible.

[2016-03-24 21:33] marcusnovotny commented on #65
Will look into it this evening

[2016-03-25 11:14] julienschmidt commented on #51
Turns out there were exceptions for connections errors (connection reset etc) but those promises silently discard any exception if there is no `.catch(..)` handler...

[2016-03-25 11:38] julienschmidt opened #67 "[meta] status report"
@marcusnovotny @santanumohanta what are you working on? I haven't seen any code from you in over a week. Our deadlines are approaching fast :wink:

Status of my work: My mobile-site crawler should now work fine. The JS API should now also be more or less production-ready. I'm currently working on getting the aggregation (analyzing the tweets and write the CSV files) working. Expect a PR later. [Th

[2016-03-25 12:25] ghost commented on #46
@julienschmidt for streaming API we can pass maximum 400 kyewords to track in each stream...
In case we have 2000 character to track we need 5 streams!

[2016-03-25 12:27] julienschmidt commented on #46
Or select just the most popular characters. For >90% of the characters the likelihood that we receive a tweet is... low.

[2016-03-25 12:43] marcusnovotny commented on #67
@julienschmidt finishing the SEO action plan right now, then back to coding. You'll get a status update from me tonight. Have to get used to all the fancy new changes, it's pretty overwhelming from my limited newbie point of view I have to admit.

You should definitely get a break. You've contributed an awful lot to our project and I have mad respect for you work _tips fedora_. I think @santanumoh

[2016-03-25 14:08] sacdallago commented on #51
So you are able to fix this? :) remember that between feature freeze and delivery you can fix bugs ;)

[2016-03-25 14:11] julienschmidt commented on #51
See #66. I think it is fixed now.
KeepAlive would still be nice as it would speed up the crawler a bit since it avoids opening a new TCP connections and the TLS handshake for every single API request.

[2016-03-25 14:17] julienschmidt commented on #51
To clarify, I think those hangs we're caused by reset connections which the Twitter servers seem to randomly do for whatever reason.
There were exceptions by the request package already, but since some of the Promises didn't have `.catch(..)` handlers, those exceptions were silently discarded instead of propagated (_ugh_, whoever was responsible for that specification must hate JS devs).
With this

[2016-03-25 14:34] ghost commented on #67
@julienschmidt  The latest code, the level it has reached... it is very much complex/hard for me to work on...  As you know that previously I have already written code which will stream tweets for a query but it is really difficult for me to integrate it in latest existing code.

@marcusnovotny yes we can start writing the report. Lets discuss on it.

[2016-03-25 14:37] sacdallago commented on #51
This a very interesting finding! Who could be interested in this? Twitter? The developer of the Promises?

[2016-03-25 14:39] julienschmidt commented on #51
Nobody. But there will be technical reasons for that (reset connections).

Regarding the promises: Someone sadistic.

[2016-03-25 14:59] julienschmidt commented on #67
@santanumohanta Basically the project is now a package without any "main file" anymore. See `example/app/app.js` for that. From there the exported functions (see `index.js`) of the package are called. All the twitter stuff is in `crawler/` and the database interaction still in `models/`.

Basically you would have to create another exported function in index.js for starting to listen to to stream.

[2016-03-25 15:02] #51 closed

[2016-03-25 15:05] sacdallago commented on #67
I agree with @julienschmidt . Saying "_it's hard_" and just sitting there waiting for life to unfold is not an excuse in my opinion :)
He just took care of explaining to you the main parts and I'm sure @julienschmidt would be happy to have you programming with him in the same room. You would understand something more and he would be able to take brakes and confront with someone at times.

[2016-03-25 15:09] julienschmidt commented on #67
@sacdallago I think today, maybe tomorrow, is the last day I will work on this project for now. I have a thesis to write...

[2016-03-25 16:44] gyachdav opened #69 "move API docs to the wiki"
keep install, usage etc in readme.

[2016-03-25 16:46] julienschmidt commented on #69
uuhm why? It's common practice to put it into the README.md. This way it also shows up on https://www.npmjs.com/package/gotsentimental

And from a few years of GitHub experience: no one looks into the wiki (assuming you meant the repo wiki).

[2016-03-25 16:55] gyachdav commented on #69
yup. well the motivation is to keep the readme short and sweet for users and the wiki for devs. you put a link the readme to the repo wiki in the "for devs" section. but if that means the api docs wont cary over to the npm package then forget what i said.

[2016-03-25 16:55] #69 closed

[2016-03-25 17:08] julienschmidt commented on #58
We'll add an JS API function for that. We just need to add up the values from all characters.

[2016-03-26 00:42] julienschmidt commented on #42
Probably we also need to use another sentiment package. The current one seems really slow.

[2016-03-26 01:59] marcusnovotny commented on #67
App is running, crawler is crawling #happyday
Still have the problem with the forever-lasting fetchEpisodes() call. Back to work tomorrow :runner:

[2016-03-26 02:03] julienschmidt commented on #67
I just finished. A the first full crawl.
Then I updated episodes / characters from Project A. All `_id`s changed.
Now I have about 1 million tweets which can not be associated with a character  :weary:

[2016-03-26 02:03] julienschmidt commented on #67
And see https://github.com/Rostlab/JS16_ProjectD_Group4/pull/70 there an episodes.csv is already generated :wink:

[2016-03-26 02:10] marcusnovotny commented on #67
Will check #70 :raised_hands:

Ouh shit. When did those change? Can I prevent that from happening? Started crawling ~2 hours ago, wanted to run it over night :smile:

[2016-03-26 02:15] julienschmidt commented on #67
Maybe wait until the morning. I'll try to finish #70 before I go to sleep. Then the backend should be more or less complete (except that the analysis is still shit).
The full crawl took me ~14 hours btw :laughing:

[2016-03-26 02:31] marcusnovotny commented on #67
Ok then let's crawl again tomorrow :sweat_smile: Good night & get some sleep!

Maybe it makes sense to finish the blacklist asap #47 ? For example, I noticed the mobile crawler spent 1-2 cycles crawling the character [Paxter Redwyne](http://awoiaf.westeros.org/index.php/Paxter_Redwyne) and I'm rather confident the tweets were from [this account @Paxter_Redwyne](https://twitter.com/search?src=typd&

[2016-03-26 03:32] #36 closed

[2016-03-26 09:41] julienschmidt commented on #67
After 553/1398 characters crawled, "Paxter Redwyne" is the most hated character :laughing:

We should maybe make another "copycat" list, where we filter tweets by users with the same name. But I don't think we can avoid them during the search / crawling :worried:

Btw, we're doing strict search, so these are the tweets we're crawling: https://twitter.com/search?f=tweets&vertical=default&q=%22paxte

[2016-03-26 09:43] julienschmidt commented on #67
And fixing the visualization and #42 should have the highest priority for now.

[2016-03-26 09:49] julienschmidt commented on #58
[gotsentimental.stats() ⇒ <code>Promise.&lt;Object&gt;</code>](https://github.com/Rostlab/JS16_ProjectD_Group4#gotsentimentalstats--promiseobject)

[2016-03-26 10:01] julienschmidt opened #71 "Visualization"
- [x] Start on time-range with data. Prevent zooming / panning out of our data-range.
- [x] Mark episode airing dates on the x-axis
- [x] detect CSV path prefix (not always `/csv`, depends on the implementation) from original passed CSV path
- [x] Remove [monotone interpolation](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/public/chart.js#L31). Handle missing CSV values.
- [x] Defi

[2016-03-26 10:23] marcusnovotny commented on #71
Thanks for the guidance!

[2016-03-26 11:02] ghost commented on #67
I have pushed in my branch Streaming for most popular character...now working on saving the tweets against character.

[2016-03-26 12:44] marcusnovotny commented on #65
Referencing the new API from #70

However, my crawler is currently running, and in the name.csv there's only one value per month, not per day. Also, in the name/month.csv files there's only one single value for the month aswell. Am I missing something?

[2016-03-26 13:05] julienschmidt commented on #65
#72 :beetle:

[2016-03-26 13:09] marcusnovotny commented on #65
Doing the lord's work here.

[2016-03-26 13:40] marcusnovotny commented on #71
I like the column chart idea, that would clean up the x-axis and make the results more transparent (seeing what the values exactly belong to).

 I'm just a little worried about the hourly view because the sentiment values are gonna be in the [-1;1] range for most of the characters

[2016-03-26 17:58] #25 closed

[2016-03-26 19:50] ghost commented on #46
@julienschmidt pushed the latest changes in my branch.

[2016-03-26 19:50] sacdallago commented on #65
@marcusnovotny did you say **Lorde**?
![](http://vignette2.wikia.nocookie.net/southpark/images/8/83/Lorde_AKA_Randy.png/revision/latest?cb=20141206231728)

[2016-03-26 19:58] marcusnovotny commented on #65
Ya ya ya I am Lorde

[2016-03-27 11:42] julienschmidt commented on #42
http://kt.ijs.si/data/Emoji_sentiment_ranking/

[2016-03-27 11:47] julienschmidt commented on #42
We also already use this list through our current sentiment package (which we might still replace / extend): http://www2.imm.dtu.dk/pubdb/views/publication_details.php?id=6010

[2016-03-27 12:29] marcusnovotny opened #78 "Partly missing tweet history"
For most of our main characters, the tweet history goes back all the way until 2011-2010. However, I noticed that for some of them we only have data from mid / end 2014 on (Daenerys Targaryen, Sansa Stark) or even later (Tyrion Lannister starts in August 2015), even though those characters were already important before. The history also looks cut off unnaturally. What could prevent the crawler fro

[2016-03-27 12:30] julienschmidt commented on #78
The twitter history for those queries ends there, it shows "no more tweets". We can still get those posts with a different search query (e.g. https://mobile.twitter.com/search?q=%22Jon%20Snow%22%20until%3A2016-03-08&src=typd ).
I'm working on the implementation.

[2016-03-27 21:57] #78 closed

[2016-03-28 00:16] julienschmidt commented on #78
[code]

I really have no idea what twitter is doing there. I assume it has technical reasons (caches etc).

But after working with Twitter for a while now: Twitter seems almost as broken as JavaScript. Random wrong Compression Headers, closed connections etc.

[2016-03-28 10:19] sacdallago commented on #78
Free stuff is _never_ free of hassle

[2016-03-28 13:52] julienschmidt opened #89 "Out of memory"
After #81 we have a new problem: for some characters (e.g. Jon Snow, ~800.000 tweets) not all tweets fit into memory, which is currently necessary for the aggregation / generation of the CSV files:

[code]

Any idea except working in chunks (which would complicate the aggregation a lot)?

@sacdallago @gyachdav

[2016-03-28 15:11] gyachdav commented on #89
@julienschmidt can you explain the problem in further details?

Is your node instance collapsing because you're storing all tweets in memory? it will help a lot to understand what data you're storing and why.

[2016-03-28 15:16] gyachdav commented on #89
Do you really need all meta data for each tweet?

[2016-03-28 15:22] julienschmidt commented on #89
We only save the text, the unique ID of the Tweet, the character this tweet belongs to, the tweet date and retweeted / favorited count. I think we need all of those.

Node crashes here when it tries to pull all the tweets (~800.000 in case of Jon Snow) out of the DB to run the aggregation:
https://github.com/Rostlab/JS16_ProjectD_Group4/blob/0fcb21290ca5329f4e8549a3ef5c1a5173f110da/aggregator/aggr

[2016-03-28 15:25] gyachdav commented on #89
check out http://google.github.io/flatbuffers/

[2016-03-28 15:28] gyachdav commented on #89
btw, you dont need to save the name 800k times

[2016-03-28 15:32] gyachdav commented on #89
so If you alter your db schema to have all jonsnow tweets contained in a single jonsnow document you would be able to skip the find operation.

[2016-03-28 15:33] julienschmidt commented on #89
Saving 800k embedded documents is a pretty bad idea.

[2016-03-28 15:33] gyachdav commented on #89
all you need to save are refs not the docs

[2016-03-28 15:38] julienschmidt commented on #89
You mean an array of Tweet IDs?

[2016-03-28 15:58] gyachdav commented on #89
Well this really depends on what you do:
1. If you manage your own DB of tweets then you just store an array of internal IDs. You basically maintain your own index. But the advantage here is that you avoid the find operation. And you can presort your data.
2. If tweeter is your primary data host then use tweet IDs.

Afaik your situation fits the first scenario. Right?

Sent from my iPhone

[2016-03-28 16:09] julienschmidt commented on #89
Yes we have our own DB with Tweets.
1. Is impractical since we then need some sort of JOIN in order to avoid reading every single Tweet on it's own.
   For that we need MongoDB 3.2+ and the aggregation pipeline. I'm not how sure how well it performs:
   https://www.mongodb.com/blog/post/joins-and-other-aggregation-enhancements-coming-in-mongodb-3-2-part-1-of-3-introduction

Even then we still need

[2016-03-28 16:22] marcusnovotny opened #90 "Special characters in character slug"
Stumbled upon [this guy](https://got-stats.herokuapp.com/characters/Jaqen%20H'ghar) in our dataset and noticed the route does not work with special characters like ' at the moment.

[http://localhost:1337/Jaqen_H'ghar](http://localhost:1337/Jaqen_H'ghar)

[2016-03-28 16:24] julienschmidt commented on #90
That's a problem of Project A. We use the slugs they provide.

[2016-03-28 16:25] julienschmidt commented on #90
https://got-api.bruck.me/api/characters/byId/56f5c296be62dc6e12808a60

[2016-03-28 16:26] marcusnovotny commented on #90
I'll mention this issue over there then :)

[2016-03-28 16:46] gyachdav commented on #89
why would you need a join? you have the IDs so all you need to do then is db.collection.find({_id:your_id})

at any rate, you should really ask yourself why are you trying to load all 800k tweets onto memory? this is the root of your problem.

[2016-03-28 16:47] julienschmidt commented on #89
We don't want to do `db.collection.find({_id:your_id})` for 800k tweets either, especially with a remote DB.

So we're back at processing chunks.

[2016-03-28 16:50] gyachdav commented on #89
well i haven't really heard a strong argument for processing all at once..

[2016-03-28 16:51] julienschmidt commented on #89
performance

[2016-03-28 16:52] julienschmidt commented on #89
And we're talking about seconds vs hours

[2016-03-28 16:55] gyachdav commented on #89
how about using an in-memory key-value store? this would run outside your node allocated memory stack

[2016-03-28 16:56] julienschmidt commented on #89
The problem is that we have very limited options on Heroku and also very limited RAM.

I'll now try to implement chunking somehow.

[2016-03-28 16:57] gyachdav commented on #89
how much memory do 800k tweets take?

[2016-03-28 17:00] julienschmidt commented on #89
About 150 MB I think. But we don't have a KV-store available on Heroku unless we buy an Add-On.

And it also doesn't solve the problem. Then we have the Tweets just in another DB. We could also just cache a chunk directly in node.

[2016-03-28 18:27] ghost commented on #46
One pull request open for tweet stream save. added logic to stream tweets of popular characters and save them in db.

[2016-03-28 20:13] julienschmidt commented on #89
Fixed in #91 using a streaming interface :tada:

[2016-03-28 20:34] julienschmidt commented on #46
Today is the feature freeze and there is still a lot of work missing to make the streaming API work properly.

It also interferes with the incremental updates of the mobile & REST API crawlers as they might abort too early when there are some new Tweets already in the DB.

We can include @santanumohanta  code (#83) as a basis for future work (like the REST API crawler which is also currently unuse

[2016-03-28 20:59] marcusnovotny commented on #46
I've successfully avoided dealing with the crawling mechanism so far _(yay)_, so my opinion is based on our current visualization. Since we're showing 1-hour-steps at most, a 15 minute delay is basically irrelevant. If we're down to that already, we should indeed focus on the sentiment calculation, which is still somewhat random.

[2016-03-28 21:02] julienschmidt commented on #46
[Per default there is currently a pause of 1h between each incremental update](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/defaults.json#L19). But you could set it to 0s.

[2016-03-28 21:39] ghost commented on #46
I agree @julienschmidt

[2016-03-28 21:40] #46 closed

[2016-03-28 21:40] julienschmidt commented on #46
The API is frozen then!

[2016-03-28 21:51] marcusnovotny commented on #46
:confetti_ball: :ghost: :tada:

[2016-03-28 22:06] #89 closed

[2016-03-28 22:55] julienschmidt commented on #42
don't forget https://github.com/Rostlab/JS16_ProjectD_Group4/blob/b12ba8c8a2b4838ab0488e05a8de09558eb939f1/aggregator/aggregator.js#L218

[2016-03-28 22:57] marcusnovotny commented on #42
@santanumohanta can I assign this issue to you? I'm still working on #71 :/

[2016-03-28 23:10] ghost commented on #42
yes

[2016-03-28 23:20] marcusnovotny commented on #42
Thanks!

[2016-03-28 23:37] julienschmidt commented on #71
![screen shot 2016-03-29 at 01 35 26](https://cloud.githubusercontent.com/assets/944947/14093504/9ab6786a-f54e-11e5-8f6c-4110ecd6a26e.png)

The graph needs to learn to accept boundaries!

[2016-03-28 23:38] julienschmidt commented on #71
Maybe you should also communicate with Project F regarding styling. I think they will use a dark theme :wink:

[2016-03-28 23:43] marcusnovotny commented on #71
What browser are you using? That is super weird. I'm not having this issue in Chrome. Just checked and Firefox does the same though, I'll look into it.

Good point, I'll summon one of them into this issue tomorrow :smile:

[2016-03-28 23:44] julienschmidt commented on #71
Firefox 45.0.1 (OS X)

[2016-03-29 00:04] julienschmidt opened #96 "Report"
* 5 pages
* write up mostly about topic (references)
* basically translating slides into text

**Last page about project:**
- [x] discussion about challenges that we faced
- [x] who did what?
- [x] include final slides
- [x] references pages

**Deadline: 2016-04-15**

[2016-03-29 00:06] #67 closed

[2016-03-29 09:00] marcusnovotny commented on #96
Since we can only select one assignee here: Will be handled by @santanumohanta and myself

[2016-03-29 09:08] marcusnovotny opened #97 "Need for a menu / legend?"
Will we need a user menu for our application? My guess right now is no, because looking at the current website, our tool will only be shown on the [character pages](https://got-stats.herokuapp.com/characters/Arya%20Stark), so we don't even need navigation.

A legend explaining the chart elements definitely seems necessary though. Could be integrated as a pop up box or just plain Text below our Too

[2016-03-29 09:24] julienschmidt commented on #97
Ask group F how they plan to integrate it.

[2016-03-29 10:01] julienschmidt commented on #58
Currently we have about 1.8 million tweets in our database. For about 44% we were able to determine a sentiment (the sentiment detection still needs a lot of work).

[2016-03-29 12:37] jonny3576 commented on #97
I think that a pop up box would be very interesting.
At the moment Group 5 won't do any Visualization so this would be delegated to Project F.
**BUT** maybe they can write the information-text?
This has clearly not the highest priority as the Twitter-application isn't working at the moment.
@kajo404 @Logarythms @vanp33 please tell us here if you think the suggestion is at least doable till April 1

[2016-03-29 15:56] sacdallago commented on #89
Sorry, I got around this issue only now.
- [Redis](http://redis.io) might have been an option
- Maybe multithreading would have been an option
- Adjusting the node process available ram is _possible_

Why are you so worried about Heroku? We won't, in the end, service the site there ;) we have a 8 core, 16gig machine ready to be treated dirty:

[code]

[2016-03-29 16:24] julienschmidt commented on #89
Well.. now our package is already Cloud™ ready :laughing:
We do the aggregation of the previous character while we crawl the data for the next character. The crawling is already slower and we can't speed it up since Twitter runs rate-limiting for their regular websites too.
So currently there is no need to optimize it any further.

But it's good to know that our database won't be limited to the 50

[2016-03-29 16:28] julienschmidt commented on #89
And yes, Redis is generally a saner option than MongoDB. I've worked with it before.
At least I can now tell that I actually worked with MongoDB before [when I bash it the next time](https://www.youtube.com/watch?v=b2F-DItXtZs) :wink:

[2016-03-29 16:56] sacdallago commented on #89
:D Ouh.. we will still be working with mongolab for the time being :P but when the moment will come, we can have a db of max 10gigs
I know, it's not much.. but > 500 mb

[2016-03-29 16:59] julienschmidt commented on #89
MongoDB states the current DB size at ~300 MiB. I guess there is enough space for a couple more weeks. However we're currently only querying 1398 of the > 2000 characters :wink:

[2016-03-29 17:14] sacdallago commented on #89
I get it, I get it :D

[2016-03-29 19:30] ghost commented on #47
If there are very less number of tweets available,like 10, which has more than 50% related to the character, should we keep it in white list?

[2016-03-29 19:32] julienschmidt commented on #47
Yes. Only blacklist characters where there are too many unrelated posts.

[2016-03-29 19:33] ghost commented on #47
ok

[2016-03-29 19:33] marcusnovotny opened #99 "Need for recrawl after host replacement?"
Just tried replacing the host in our config files since the bruck db has now migrated to "api.got.show". After starting the crawler, it gave me a MongoError E11000 for duplicate keys, referring to the character slug. It works after switching to a new db and I'm currently recrawling - Just wanted to ask if that's necessary or if there's a workaround which allows us to keep the old db.

[2016-03-29 19:35] julienschmidt commented on #99
Probably you could insert back the tweets from one DB into the other, e.g. using the shell client (mongo). But don't ask me how :P

[2016-03-29 20:07] marcusnovotny commented on #99
Yeah in that case my crawler's gonna have a sleepless night again. Issue closed :smile:

Currently uploading my latest csv data in case anyone needs it for testing, I'll edit the link in here later @santanumohanta

[csv safe](https://drive.google.com/file/d/0B7sZl-d6L1--Q3VLM25LTE9ndm8/view?usp=sharing)

[2016-03-30 08:13] sacdallago opened #102 "Suspicious requests"
Hey guys. Looking at the server logs (of the api) I see a bunch of:

[code]

Between 21:47 and 1:50. I don't know if this was you, the other twitter group, or someone else. I just wanted to report, in case you were having some issues or spontaneous exceptions in your code, this might be the reason!

[2016-03-30 08:19] sacdallago commented on #99
? Where the tweets stored on the same mlab instance as A was using? I can give you access to the mlab instance I'm using now (I took an empty one and started off zero).
This are precisely the reasons why I did this, for things to go wrong :D Can you elaborate on what you did, what should be done when moving server/db,...?

[2016-03-30 08:21] sacdallago commented on #58
If it's computing power you are after, let me know

[2016-03-30 08:24] sacdallago commented on #58
Just saying:
![](https://dl2.pushbulletusercontent.com/NoS1kY9HAf7XBdb13fNJYbsAKjCDCAUk/Screen%20Shot%202016-03-30%20at%2010.22.47.png)

[2016-03-30 08:35] sacdallago commented on #102
I'm still getting a lot of these right now:

[code]

If you are working on this, please let me now ASAP so we can pinpoint the problem

[2016-03-30 09:18] sacdallago commented on #102
This seems to be D5. You are anyway invited to try all your calls with a local instance of the API and see if everything is working as should.

[2016-03-30 09:18] #102 closed

[2016-03-30 11:22] julienschmidt commented on #99
No, we are using local instances. Project F is currently using a second mlab instance since they can not create a local instance on Heroku.

[2016-03-30 11:23] julienschmidt commented on #99
But the problem is that our data is bound to the character `_id`s

[2016-03-30 12:55] sacdallago commented on #99
Seriously? :D
You should use the char name or slug, definitely, definitely, not the `_id`.. I thought I had stressed this out already like a million times :laughing:

[2016-03-30 12:58] julienschmidt commented on #99
Yes we adhered to the usual database design principles and used foreign keys instead of random strings. Maybe a bit too foreign... :stuck_out_tongue_winking_eye:

Well the API is frozen now.

[2016-03-30 14:44] marcusnovotny commented on #71
@julienschmidt @santanumohanta

Just played around with interpolated average (positive score -  negative score) as a trendline and it looks horrible.

Full scale graph
![](http://i.imgur.com/64nM41O.png)

Full scale graph + trendline
![](http://i.imgur.com/0CZzwpN.png)

Detailed graph season 5 + trendline
![](http://i.imgur.com/4fxjBM4.png)

Honestly, I'd just leave the whole trendline out. You ca

[2016-03-30 14:46] julienschmidt commented on #71
It also needs smoothing, not just interpolation

[2016-03-30 14:55] marcusnovotny commented on #71
AFAIK there's no native D3 JS functionality to smoothen curves apart from the provided interpolators, so I'd have to write my own, right? I could aggregate weekly averages and plot a curve for them. I'll set something up, still questioning the usefulness though

[2016-03-30 16:18] sacdallago commented on #71
1. To me, it actually is very informative. I can immediately grasp the feeling at that given time. I would though highlight the curve more, make it stick out more (bolder, thiker).

   **EDIT** Bolder, thiker when you zoom in, lighter when you zoom out. Sure, in the full timeline graph the tendency would me more interesting, while in the detailed one the curve that you propose is way more interest

[2016-03-30 16:23] julienschmidt commented on #71
Maybe just use the average of the last 3 days each to smooth it.
We should then also explain somewhere (e.g. when hovering the curve) what we're visualizing with it.

[2016-03-30 16:28] sacdallago commented on #71
@julienschmidt that would still not solve the problem for such a big dataset. You want to smooth over 3 days, but have a 5y datastore... So basically the curve would look a little bit smoother over 3 days, but you actually loose information and the best information that this curve can get you, like in the 3rd image posted.

If you really want to show a tendency, use simple curves! No need to smoot

[2016-03-30 16:31] julienschmidt commented on #71
A line is too simple as I (without ever having watched a single episode) assume that characters can develop and turn from good to bad and vice versa

[2016-03-30 16:59] sacdallago commented on #99
Forzen like [**_Let it go, let it go_**](https://youtu.be/CYsrV3zGd0c?t=59s)? What do you mean with frozen?

[2016-03-30 17:04] sacdallago commented on #71
OK. :D Then find a _simple_ degree that represents the data, but not so high it fits it: ![](https://inkslwc.files.wordpress.com/2012/02/miprimary1.png) **if you want to show tendency**.
Again: the curve that you show now for me makes a lot of sense.
You are basically trying to ovoid overfitting.

[2016-03-30 17:05] julienschmidt commented on #99
I mean frozen as in the past participle of "freeze" - as in "feature freeze".

And to be fair, our DB schema already existed when `_id` was still the only unique attribute in Project A's Schema.

[2016-03-30 17:09] sacdallago commented on #99
FF long doesn't mean you don't need to touch the code anymore :laughing: it's testing, getting rid of bugs and cleaning up. This one is very, very close to the _cleaning up_ side of life ;) I don't see any functionality changing?

[2016-03-30 18:17] marcusnovotny commented on #58
Filthy casual
![](http://i.imgur.com/cfQTQvs.png)

[2016-03-30 18:19] julienschmidt commented on #58
![cry](https://cloud.githubusercontent.com/assets/944947/14152666/a40c240c-f6b4-11e5-8c20-f2a46eab8b21.png)

[2016-03-30 19:14] marcusnovotny commented on #90
Project A closed the issue, let's see how it works in the next crawl

[2016-03-30 19:16] marcusnovotny opened #103 "Jon Snow not entirely crawled"
In the newest implementation, the mobile js crawler only crawled our most popular character Jon Snow post October 2015. Restarting didn't change anything. Did anybody experience the same?

[2016-03-30 19:19] julienschmidt commented on #103
Try lowering the threshold in crawler/mobile.js and use `gotsent.updateCharacter("<Jon Snows' id>")` in example/app again and again until it works. Twitter is really moody. I guess it depends on the cache of the server handling your request.

[2016-03-30 19:21] marcusnovotny commented on #103
Will try! I also noticed completely new characters getting crawled in the 4th or 5th run already. Is that the same issue?

[2016-03-30 19:22] julienschmidt commented on #103
I have no idea what you mean. Logs?

[2016-03-30 19:24] marcusnovotny commented on #103
For example, currently the crawler is crawling the complete history of Viserys Targaryen for the last 5 years even though it has been running multiple iterations already.

[2016-03-30 19:24] julienschmidt commented on #103
... logs?

[2016-03-30 19:27] marcusnovotny commented on #103
Which directory?

[2016-03-30 19:27] julienschmidt commented on #103
your shell

[2016-03-30 19:30] marcusnovotny commented on #71
For me the currently shown trend function just uselessly crowds the chart. The information you get from it is easily visible anyway, also in the 3rd picture.

Tendency was what I meant, but I'm not sure if I can still do it with two days to go. The other issues have higher priority

[2016-03-30 19:30] marcusnovotny commented on #103
I don't know where to get those from

[2016-03-30 19:34] julienschmidt commented on #103
![screen shot 2016-03-30 at 21 33 16](https://cloud.githubusercontent.com/assets/944947/14154844/0e266b2c-f6bf-11e5-97f8-fe2c832127fc.png)
That kind of output

[2016-03-30 19:35] julienschmidt commented on #103
If it says inserted: > 0, then the crawler found new tweets. Otherwise it should abort, unless you set the full flag in update / updateCharacter (not set in the update loop).

[2016-03-30 19:36] marcusnovotny commented on #103
Yeah it found new tweets, but I thought it finds them in the first full crawl and then only updates the ones which were tweeted in the meantime. I guess I have a wrong idea of how it works

[2016-03-30 19:37] julienschmidt commented on #103
If Twitter wasn't weird, then yes.

[2016-03-30 19:39] marcusnovotny commented on #103
Classic Twitter
![](http://i.huffpost.com/gen/1143173/thumbs/o-POTOO-FUNNY-BIRD-570.jpg?6)

[2016-03-30 19:40] marcusnovotny commented on #97
Had a [nice chitchat](https://github.com/Rostlab/JS16_ProjectF/issues/200), Visualization goals updated #71

[2016-03-30 19:40] #97 closed

[2016-03-30 19:42] marcusnovotny commented on #65
Progress tracked over at #71

[2016-03-30 19:42] #65 closed

[2016-03-30 20:23] julienschmidt commented on #42
https://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html#lexicon another huge list

[2016-03-30 21:00] sacdallago commented on #58
:D That's cute guys... but that was just one of three machines :laughing:

[2016-03-30 21:02] sacdallago commented on #71
Did I mention that I like that curve anyway?
:laughing: :laughing: :laughing:

[2016-03-30 21:04] marcusnovotny commented on #71
@gyachdav please help @sacdallago is being mean :confounded:

[2016-03-30 21:18] sacdallago commented on #71
Byatch I was born mean
![](http://images5.fanpop.com/image/photos/30300000/Da-best-3-mean-girls-30385553-500-213.gif)

[2016-03-30 22:49] julienschmidt commented on #42
any progress @santanumohanta ?

[2016-03-31 00:00] marcusnovotny commented on #71
Current visualization badly shopped into the site

![](http://i.imgur.com/YAWlUhz.png)

[2016-03-31 00:03] julienschmidt commented on #71
Right now 99% of the graph are grey. Shouldn't we zoom in a bit more by default?

[2016-03-31 00:09] marcusnovotny commented on #71
I get you. Just wanted to show people how much data they actually can access right from the start, but you're right.

I'll try both 1.1.2013 (includes Season 3) and 1.1.2014 (includes Season 4) as startDates and today as the endDate

[2016-03-31 00:11] julienschmidt commented on #71
Maybe some indication how much more data there is and where we are on the timeline would be nice - basically a horizontal scrollbar.

[2016-03-31 00:12] julienschmidt commented on #71
Maybe look around the D3 examples again. I'm pretty sure there are already clever solutions.

[2016-03-31 00:13] marcusnovotny commented on #71
Added. Would be really useful. This is gonna get tough though

[2016-03-31 00:28] marcusnovotny commented on #71
Man I like the tool a lot. The graph for Walder Frey for example - the character is basically unimportant for the whole show, apart from one major "negative" event where he's partaking (Red Wedding, S03E09) and surprise, there's a giant spike. Only the negative score should be a lot higher I guess

[2016-03-31 08:38] sacdallago commented on #71
@julienschmidt idea with the start-zoomed-in is good!
On the matter of the trendline, I think I got confused maybe by something: this trendline can be overlayed or hidden with some user input? Because then I understand when you say it's ugleyh. But if the user can decide whether to have it or not, then just keep it as you had it the other day, no other work needed ;)

Anyway, [_looking_ good](http

[2016-03-31 09:31] marcusnovotny commented on #90
[The API has changed](https://api.got.show/api/characters/Jaqen%20H'ghar) but we're still using the old slug. How do we update it? The character is among the most discussed and therefore pretty important

[2016-03-31 09:34] julienschmidt commented on #90
Delete the character from the characters collection in the DB (type `mongo` in the shell for the shell client. Then type `help` for further help :wink: ). On the next update the crawler will insert the Character with the new slug again.

[2016-03-31 09:46] marcusnovotny commented on #58
@julienschmidt We should change the names of our Stats function. Tywin Lannister doesn't have a lot of friends in the fanbase yet ends up on Spot 2 on Most Popular. Grey Worm is universally liked yet number 1 Hated. The scores come from people enthusiastically tweeting about Tywin's death and episodes when Grey Worm was thought to be in great danger.

We should just call it "Highest Positive Score

[2016-03-31 09:49] julienschmidt commented on #58
[aggregator/aggregator.js#L208](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/4d956f4dc2773b180e31c8ce2955390668ffa53e/aggregator/aggregator.js#L208) Fix it

[2016-03-31 09:51] marcusnovotny commented on #71
@julienschmidt Since you crossed the streaming stuff out: When would you think this is necessary? Would it not help our CPU performance? I'm worried it's too much because my browser is at 15-20% CPU usage when scrolling continually

[2016-03-31 09:53] julienschmidt commented on #71
If we use an area chart we just have 2 SVG elements. The green area and the red area. Updating the coordinates of those areas would be even more expensive.

[2016-03-31 10:02] marcusnovotny commented on #103
I'm worried. This is happening for a lot of the very major characters of the show. I only have 2015+ data for:
- Arya Stark
- Sansa Stark
- Daenerys Targaryen
- Jon Snow
- Jaime Lannister
- Cersei Lannister
- Theon Greyjoy

I tried crawling Jon Snow repeatedly but had no luck either
![](http://i.imgur.com/SJw5ZrZ.png)

Just checked my old csv data, had Jon Snow there from 2007 on but not the other

[2016-03-31 10:04] julienschmidt commented on #103
Lower the threshold and recrawl with either `gotsent.update(true)` or `gotsent.updateCharacter(id, true)` for the specific characters.
Twitter sucks. End of story.

[2016-03-31 10:04] #103 closed

[2016-03-31 10:06] julienschmidt commented on #103
Is still have 2 older DB dumps, we could try to merge them together and also provide that new DB dump to group F / @sacdallago.
Fortunately we only need to crawl the old tweets once.

[2016-03-31 10:39] marcusnovotny commented on #90
Thanks, it worked!

[2016-03-31 10:39] #90 closed

[2016-03-31 10:43] marcusnovotny commented on #71
We also have the ~50 rectangles which represent the episodes, but I just removed them and it didn't seem to have an impact. How's it running on your machine?

EDIT: I only notice zooming is **a lot** more fluent on Chrome compared to IE / Firefox

[2016-03-31 10:57] marcusnovotny commented on #42
Two things I've noticed
- Paxter Redwyne is still in most hated & most discussed, but the tweets seem to come from an unrelated account with the same name (fits better in #47)
- Yellow Dick (never heard of the guy) is among the most hated and his graph shows a continuos red line of entries at the bottom... I guess "dick" has a negative sentiment score :smile:

@santanumohanta Might be of use for y

[2016-03-31 11:02] julienschmidt commented on #42
"yellow dick" is probably a candidate for the blacklist.

[2016-03-31 11:03] julienschmidt commented on #71
Another ToDo: Error message when no CSV is available (e.g. for blacklisted characters)

[2016-03-31 11:08] ghost commented on #47
Unclassified character classified:-

## WHITELIST-

Sybassion
Cadwyl
Osmynd
Rhogoro
Rymolf
Saathos
Salloreon
Tuffleberry
Tumberjon
Urrathon
Aethelmure
Alebelly
All-for-Joffrey
Argilac
Beldecar
Daeryssa
Draqaz
Esgred
Ezzelyno
Illifer
Xhondo
Mordane
Orwyle
Melisandre
Patchface
Rhaego
Rakharo
Missandei
Wendamyr
Ygritte
Yoren
Quaithe
Rattleshirt
Alayaya
Anguy
Butterbumps
Clydas
Cohollo
Hodor
Urswyck
V

[2016-03-31 11:14] sacdallago commented on #42
Why? No! I mean, yellow dick, such a wow name
:laughing:

[2016-03-31 11:16] ghost commented on #42
@julienschmidt classified unclassified characters #47 ,  will provide update tonight.

[2016-03-31 12:14] marcusnovotny commented on #58
That's why I proposed the new names, I don't know what else to put?

[2016-03-31 12:16] julienschmidt commented on #58
Both `popularity` and `heat` should e.g. value recent tweets more than the total

[2016-03-31 12:18] marcusnovotny commented on #58
That still doesn't fix my problem that a positive sentiment score on a tweet doesn't equal that character being popular and vice versa

[2016-03-31 12:21] julienschmidt commented on #58
Depends on your definition of "popular". I think a lot of positive mentions is a valid definition.

We could also include _how_ positive / negative sentiment is.

[2016-03-31 12:23] julienschmidt commented on #58
After all our goal is to show such surprises. If they don't like a character, maybe they should tweet about it...

[2016-03-31 12:27] marcusnovotny commented on #58
Well I guess you can see it that way too. When you check why Tywin Lannister is popular and see that the positive spike is from the episode he dies in, it's actually quite funny :smile:

[2016-03-31 22:05] ghost commented on #42
based on analysis of some tweets, below there are some words which does not exists in afinn-111 words list, can be added manually for sentiment analysis(probable valance is also added)-

"honorable":2,
"nothing":-1 ,
"fck":-4,
"fck u":-4,
"coolest":2,
"lord":3,
"princess":3,
"boss":3,
"humble":2,
"smug":-2,
"feast":2,
"woo hoo":3,
"junk":-2,
"independent":2,
"beast":-3,
"cutest":2,
"birth":1,
"bir

[2016-03-31 22:07] julienschmidt commented on #42
Please submit those as PRs. You can add this list to defaults.json.

And probably we should filter non-English tweets in the aggregation / analysis for now.

[2016-03-31 22:09] sacdallago commented on #42
@santanumohanta

![](http://treasure.diylol.com/uploads/post/image/300235/resized_grandma-finds-the-internet-meme-generator-y-que-es-esto-por-el-amor-de-dios-4a8d34.jpg)

[2016-03-31 22:10] sacdallago commented on #42
P.S.: @gyachdav some more interesting facts in the last paragraph of @santanumohanta 's message (CC @marcusnovotny )

[2016-04-01 19:05] yashha opened #107 "Error when starting"
@CavidSalahov
I still get this error, I think it comes from your plugin. The config file is fully filled.
`[main][ERROR] { status: 503,
  data: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">\n<html><head>\n<title>503 Service Unavailable</title>\n</head><body>\n<h1>Service Unavailable</h1>\n<p>The server is temporarily unable to service your\nrequest due to maintenance downtime or capacity\npr

[2016-04-01 19:14] gyachdav commented on #42
mucho cool! can we get a complete break down by languages? would be nice to see how many Urdu tweets we processed.

[2016-04-01 19:18] julienschmidt commented on #107
Yep, that's our plugin.
Version 0.2.0 still contains the old API URL. Please overwrite it by adding

[code]

To the config. Alternatively you can directly use `gotsent.cfg.api.host = "api.got.show`.

[2016-04-01 19:25] yashha commented on #107
Thanks! :)
It doesn't show up in your docs so I thought I can remove it.
https://www.npmjs.com/package/gotsentimental
Please update :)

[2016-04-01 19:26] julienschmidt commented on #107
Our final deadline is today, so we will publish another version later. In our repository it is already fixed.

[2016-04-01 19:26] #107 closed

[2016-04-01 22:05] #99 closed

[2016-04-01 22:34] ghost commented on #42
@gyachdav we have tweets in total 43 different languages.

below are the 20 languages(most tweets belong to) -
English 56%
Spanish 28%
Indonesian 3%
Portuguese 2.8%
Turkish 1.1%
French  1%
Italian 1%
Welsh   0.70%
Tagalog 0.50%
German  0.40%
Finnish 0.40%
Estonian 0.40%
Romanian 0.20%
Icelandic 0.20%
Swedish 0.18%
Japanese 0.15%
Norwegian 0.14%
Dutch  0.11%
Polish 0.11%
Danish 0.08%

[2016-04-01 22:37] julienschmidt commented on #42
Marami sa Tagalog at pagkatapos ay sa German :laughing:

How did you measure that @santanumohanta ?

[2016-04-01 22:45] ghost commented on #42
"en",                                    "fr",                                    "es",                                    "pt",                                    "sv",                                    "no",                                    "nl",                                    "tr",                                    "de",                                    "in",

[2016-04-01 22:47] julienschmidt commented on #42
And where did you get the base data per language from?

[2016-04-01 23:04] julienschmidt commented on #42
My current DB is not so big, but here is a quick 'n dirty way: https://github.com/Rostlab/JS16_ProjectD_Group4/compare/lang

[code]

It shows me very different data

[2016-04-02 00:08] #47 closed

[2016-04-02 15:42] gyachdav commented on #58
Now that all is said and done. can you give us some numbers?
examples:
- [ ] number of tweets
- [ ]  languages
- [ ]  peak season/epsiode
- [ ]  low season/episode
- [ ]  average per episode
- [ ]  in total are we seeing more negative or positive tweets?

[2016-04-02 23:19] julienschmidt commented on #71
@marcusnovotny do you have a cool screenshot for the README?

[2016-04-02 23:22] marcusnovotny commented on #71
I bet! Am not home yet, tomorrow around noon the latest

[2016-04-03 00:38] marcusnovotny commented on #71
I'd like to use a complete Jon Snow csv. I have all the hourly values but not the daily (no idea how this happend). Do you have one?

[2016-04-03 09:58] julienschmidt commented on #71
Found this zip file on my desktop. No idea how complete it is.
[Jon_Snow.zip](https://github.com/Rostlab/JS16_ProjectD_Group4/files/201263/Jon_Snow.zip)

[2016-04-03 10:00] julienschmidt commented on #71
In the hourly view there is somehow almost no discussion during the episodes, but it spikes in the hour after the episodes. Is there maybe a shift problem?

[2016-04-03 10:33] marcusnovotny commented on #71
Well, the episodes are gonna air pretty late so it should be near the end, but you're right it's strange at the moment. Maybe it's a time zone thing? I think the graph uses middle european time

[2016-04-03 10:34] julienschmidt commented on #71
The data is in UTC

[2016-04-03 10:36] marcusnovotny commented on #71
![](https://safcecblog.files.wordpress.com/2014/10/timeforchange.jpg)

[2016-04-03 10:37] julienschmidt commented on #71
https://github.com/mbostock/d3/wiki/Time-Scales#utc

[2016-04-03 13:09] marcusnovotny commented on #71
Just to get this right. I checked the Jon Snow csv & the huge spike after the last episode is at 2AM:

Right now, the graph aligns with the data and displays the spike at 2AM. If I set the scale to UTC it shifts the graph two hours in the past to 12AM. Is the data intended to be used like that?

[2016-04-03 13:17] julienschmidt commented on #71
I have no idea how D3 transforms / labels the data and what the default time zone is. I can only tell you that the data in the CSV is in UTC.

[2016-04-03 13:22] marcusnovotny commented on #71
But then it should be correct already. The graph display the data as in the csv. If there's a shift it must have occured earlier?

[2016-04-03 13:40] julienschmidt commented on #71
The episodes are shifted -1 day. E.g. April 20 9pm EST is already April 21 in UTC

[2016-04-03 13:43] julienschmidt commented on #71
Should we just assume that every episode airs at 9pm EST and has the same runtime? Everything else is quite confusing.

[2016-04-03 13:59] marcusnovotny commented on #71
Let's stick to the Jon Snow example. Episodes csv correctly states airing date is on [14th June](https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_episodes#ep50) and is displayed 14-15th in the graph

Jon Snow csv mentions spike at 2AM on the 15th. Graph displays it at exactly that time

![](http://i.imgur.com/CBZBGJ3.png)

So it's all displayed just like in the data. If anything we should pre

[2016-04-03 14:02] julienschmidt commented on #71
counter-intuitive, but now it highlights June 14th and stops at midnight. However the episode aired at June 15th 2am UTC I think.

[2016-04-03 14:14] julienschmidt commented on #71
Ideally all the calculations would be in UTC, but he axis legend in the browser's local time.

[2016-04-03 14:20] marcusnovotny commented on #71
Ah ok. I think I get it now. [www.episodate.com](https://www.episodate.com/tv-show/game-of-thrones?season=5) suggests that all seasons aired at 3AM CEST, so 1AM UTC. Spike makes sense then since he died at the very end of the episode.

I can make the episode bars less wide and set them to the right time, no problem.

I think it makes most sense to use Eastern Time [(just like HBO)](http://www.hbo.

[2016-04-03 14:24] julienschmidt commented on #71
And it isn't a trend line. More like an average curve.

[2016-04-03 14:26] julienschmidt commented on #71
And while I'm already nitpicking: Score / Hour is not a button and therefore shouldn't look like one

[2016-04-03 14:27] julienschmidt commented on #71
aaand the scrollbar is too slow. It should always be directly under the cursor.

[2016-04-03 14:45] marcusnovotny commented on #71
Okay, that's gonna take a little more time (mostly the Date thing) and I'm super busy today & tomorrow. I'll fix it until Tuesday.

[2016-04-03 14:50] julienschmidt commented on #71
No rush, it's completely up to you. The official part of the project is over anyway

[2016-04-03 16:48] marcusnovotny commented on #71
Another issue: there's no way to scroll back out again if you're using a touchpad without multitouch, eg. Notebook without mouse. Probably need zooming buttons.

Edit: Picture delayed until Date is fixed

[2016-04-03 16:58] marcusnovotny opened #116 "Keeping @sacdallago busy"
Remember to upload the new version @sacdallago :wink:

[2016-04-03 17:05] gyachdav commented on #71
I loooove it!! thanks @sacdallago @marcusnovotny and @julienschmidt for setting it up!

How come http://csv.got.show/ only shows a bunch of minor characters and only has 320855 tweets? Are you refilling the db?

[2016-04-03 17:14] julienschmidt commented on #71
@gyachdav yes. It should take about 16 hours until all characters are crawled.

[2016-04-03 17:27] julienschmidt commented on #116
But optimally you wait until the first crawl iteration is done. Otherwise you'll lose some tweets

[2016-04-03 17:38] sacdallago commented on #116
When will that be? :laughing:

[2016-04-03 17:47] julienschmidt commented on #116
Around 16 hours after you you started the app :p
If you can find the word "scheduling" in the console output, it is trying to schedule the next iteration

[2016-04-03 18:11] sacdallago commented on #116
So I'll wait tomorrow

[2016-04-03 20:43] sacdallago commented on #116
I fucked up something, so I had to restart :D too bad

[2016-04-03 20:43] #116 closed

[2016-04-03 21:52] marcusnovotny commented on #71
This is taking over hand here, I'll open up a new issues for bug fixes :wink:

[2016-04-03 21:52] #71 closed

[2016-04-03 22:00] marcusnovotny opened #117 "Visualization Fixes"
Main issues
<s>- Fix Dates to align with Eastern Time </s> Changed timezone to UTC
<s>- Fix Touch Interaction with Buttons</s> Done!
<s>- Zooming buttons (for single touchpads)</s> can't manage in time for the deadline
<s>- Limit domain to available data if less than a few months</s> Done!

<s>Minor issues</s> Skipped due to missing time
<s>- Add clicking functionality to scrollbar, make it align

[2016-04-03 22:12] julienschmidt commented on #117
Regarding scrollbar: Yes keep the plot behavior as it is.

However users have certain expectations how different UI elements work. The indicator of a scrollbar should follow the mouse / finger, everything else is unexpected and might seem unresponsive / slow. And it should jump to the position if one clicks somewhere else on the bar.

[2016-04-03 22:14] marcusnovotny commented on #117
That is a great idea. Haven't thought about clicking. I'll add it to the major issues. Hopefully I get it all done!

[2016-04-03 22:15] julienschmidt commented on #117
That is a minor issue :)

[2016-04-04 00:44] marcusnovotny opened #118 "Adding new items to our crawler list"
Hey there!

A question for @julienschmidt - can we just add new items to the list of characters we crawl without disturbing the other projects? "House Stark", "House Lannister" and "George RR Martin" would be really cool to have for the landing pages

[2016-04-04 00:50] julienschmidt commented on #118
Hey there!

An answer for @marcusnovotny - there is obviously no exported function for it (yet), but you could just use [Character.addIfNotExists](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/models/character.js#L37) to add a character with `{ name: "House Stark", slug: "House_Stark" }` etc. So yes, it is possible.

[2016-04-04 01:00] marcusnovotny commented on #118
Haha! Thanks for the quick reply. The link was just what I needed.

[2016-04-04 01:00] #118 closed

[2016-04-04 11:12] marcusnovotny opened #119 "Stock up db for main characters"
Seems like the first full crawl of csv.got.show is completed and key characters are still missing. We have about 1,5 weeks of data for:

http://csv.got.show/Daenerys_Targaryen
http://csv.got.show/Tywin_Lannister
http://csv.got.show/Tyrion_Lannister
http://csv.got.show/Jon_Snow

I don't know where this is coming from suddenly, but I'm having the same issue on my machine at home. Those characters us

[2016-04-04 11:15] julienschmidt commented on #119
Retry, retry, retry. If you set the `found` to something like `10000` and the retry threshold to e.g. 500, the crawler will retry really aggressively. Sometimes it suddenly works then. I think Twitter has some really bad caching mechanism.

[2016-04-04 11:16] julienschmidt commented on #119
And by retry I mean `gotsent.updateCharacter("<name>", true);`

[2016-04-04 11:17] marcusnovotny commented on #119
Will check at home :+1:

[2016-04-04 11:17] julienschmidt commented on #119
Or we might try to use all our old DB dumps to add missing tweets.

[2016-04-04 11:19] marcusnovotny commented on #119
I think I only had that data in the very first one with the different character IDs

[2016-04-04 11:20] julienschmidt commented on #119
If you made a binary dump, e.g. with [mongodump](https://docs.mongodb.org/manual/reference/program/mongodump/), it also contains the characters DB.
I think I have 2 or three DB dumps.

[2016-04-04 11:36] marcusnovotny commented on #119
It would be amazing if we could get this done, that should be the most thorough fix. How complicated is that?

[2016-04-04 20:16] sacdallago commented on #119
Side note:
we hit the limit
![screen shot 2016-04-04 at 10 14 11 pm](https://cloud.githubusercontent.com/assets/6240943/14261819/b7d21846-fab2-11e5-9eb3-64b1e723e8cc.png)

[code]

Which I think is because it can't actually write anymore on the DB?

[2016-04-04 20:50] julienschmidt commented on #119
File size is more than twice the data size? what?

[2016-04-04 21:02] sacdallago commented on #119
:D Misteries

[2016-04-04 22:53] yashha opened #120 "MouseDrag in chart"
When draging the mouse and there are two charts on one page the last initialized chart is being changed
And the background lines of the first chart are moving.

[2016-04-04 23:33] marcusnovotny commented on #119
I think I found the problem @julienschmidt
I followed your advice and changed the found & retryThreshold. Then I noticed the crawler always retries with the init date (1.1.1970)
![](http://i.imgur.com/leonKqY.png)

https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/crawler/mobile.js#L162

lastDay is initially set to null, so when we decrease lastDay by one day in line 196 we run into pro

[2016-04-05 00:11] marcusnovotny commented on #96
Hey @santanumohanta! I'm still working on Visualization & Landing Pages this week and will be pretty busy early next week too. Could you already start with the report?

[2016-04-05 06:37] ghost commented on #96
@marcusnovotny yes, sure.

[2016-04-05 12:45] marcusnovotny commented on #120
@yashha I fixed your issues but those were really tiny fixes and I don't think it's not worth making a new version already. Just swap out the public/chart.js for now.

[chartjs.zip](https://github.com/Rostlab/JS16_ProjectD_Group4/files/204449/chartjs.zip)

I've found a way to get the missing tweets, which solves the original problem with the too large date range. I can give you a complete db on Fr

[2016-04-05 12:45] #120 closed

[2016-04-05 14:50] sacdallago opened #121 "Make a log-free or > /dev/null version of the package"
I'm trying to debug **F**s project and although all your logging is nice, it's also sort of mega spamming the console :D
Can you have a look at if it's possible to easily re-route the log to something else? A file?

Thx

[2016-04-05 22:16] yashha commented on #120
Important would be to set the startdate to the oldest tweet or a bit before that :)
It is not like that at the moment
Edit: at least not always :)
It would be also nice that the legend would be always visible like toggle trendline button. With transparency when not hovering.

[2016-04-05 22:23] marcusnovotny commented on #120
It currently displays 2014 - today if there's less than three months of data available. Will try something else.

What would you prefer? Legend always visible or "Love" and "Hate" next to the y axis like Tatyana suggested? The legend is pretty big, I don't wanna crowd the graph more than necessary

[2016-04-05 22:53] yashha commented on #120
Tatyana's suggestion is fine, too. :)

[2016-04-07 19:11] gyachdav commented on #58
Status?

[2016-04-07 19:56] marcusnovotny commented on #58
Hey Guy!

Our db wasn't completely exhaustive. I'm currently crawling missing characters and am at around 2.75 million tweets with 1 million analyzed, numbers still rising. Of those 2.75 million, we were able to analyze 1 million: 600k are postivie, 420k negative.
I'll provide a dump for Project F as soon as I'm done.

Peak season / episode varies for each character. If a character is only active

[2016-04-07 21:11] #117 closed

[2016-04-07 21:13] marcusnovotny commented on #121
Sorry I don't know how our logging works, plus I have to work on the Landing Pages. Currently not doable for me

[2016-04-07 21:13] #42 closed

[2016-04-07 21:14] marcusnovotny commented on #119
Almost done crawling missing characters manually. Will upload a dump

[2016-04-07 21:14] #119 closed

[2016-04-07 21:14] julienschmidt commented on #121
I'll take a look

[2016-04-08 14:28] sacdallago commented on #58
Hey guys!
Wasn't there a megadatabase going around somewhere? Something I could use on the www.got.show page?

[2016-04-08 14:31] marcusnovotny commented on #58
Currently crawling the **very last** characters. Hope to have it up by tonight, tomorrow the latest

[2016-04-08 14:44] sacdallago commented on #58
Nice!!

[2016-04-08 20:00] marcusnovotny commented on #58
DB dump coming tomorrow afternoon. Pure excitement :grin:

[2016-04-09 15:23] marcusnovotny commented on #96
@santanumohanta I won't be able to contribute before Tuesday. Could you tell us what you already have & what you are going to need?

I think @julienschmidt has to write the part about his contribution himself (from the guidelines: "1 page about your project [...] provide description of the project and **tell who did what**", so only a few lines), but we'll take care of the rest :)

[2016-04-09 15:26] marcusnovotny commented on #96
... And we could do this instead. I volunteer

[2016-04-09 15:51] marcusnovotny commented on #58
Just spotted Lord Varys and Khal Drogo on the blacklist. Currently crawling those, afterwards I'll upload the dump. 2 hours max I guess

[2016-04-09 15:59] ghost commented on #96
@marcusnovotny I will give an update by tonight.

[2016-04-09 17:41] marcusnovotny commented on #58
Still crawling Drogo, I fear there's a load of Spanish tweets in there. Let's see how it turns out. Update definitely coming today.

[2016-04-09 20:59] sacdallago commented on #58
:zzz:

[2016-04-09 21:05] marcusnovotny commented on #58
Still on it. Daenerys had a hole in the data. Think I'll drop Drogo, there seem to be a lot of unrelated tweets about him. Will upload afterwards.

[2016-04-09 21:06] sacdallago commented on #58
K :) Just remember to give me the db access later :) And tomorrow we can try it out on www.got.show

[2016-04-09 21:06] ghost commented on #96
I have done the report and sent it by mail to you @marcusnovotny @julienschmidt .

[2016-04-09 21:06] sacdallago commented on #58
P.S.: I'll go to bed now coz I'm dead, so don't expect me to answer before tomorrow at some stage :P noonish

[2016-04-09 21:07] marcusnovotny commented on #58
If you don't need it tonight I might crawl Drogo too

[2016-04-09 21:09] sacdallago commented on #58
Nah, take your time! I mean, I'm still waiting for so many other things that I'm an induced procrastinator now.
![](https://pbs.twimg.com/media/BwufIIgIQAAqE99.jpg)

[2016-04-09 21:10] marcusnovotny commented on #58
That's the spirit.

[2016-04-09 21:11] sacdallago commented on #58
Yeah, and to think that I used to have a life...

[2016-04-09 21:12] marcusnovotny commented on #58
Conceal, don't feel, don't let them know :broken_heart:

[2016-04-10 00:45] marcusnovotny opened #124 "Update D4 latest changes"
@sacdallago @yashha

Final changes applied to our project. Please update your copy of our Twitter Sentiment Tool with the following files.

[Download link](https://drive.google.com/file/d/0BxeAoTvRval_WTlIT3EwOHJGTDA/view?usp=sharing)

**/csv**
- Replaces your /example/app/csv folder

**/gotsentimental**
- Dump of our database, created with ```mongodump```. [Use mongorestore](https://docs.mongodb.

[2016-04-10 09:44] sacdallago commented on #124
For the chart, defaults and mobile I used `git pull` the rest I'm working on

[2016-04-10 09:47] marcusnovotny commented on #124
:+1: Same files

[2016-04-10 10:06] sacdallago commented on #124
Oh but this thing is 983 mb? well.. mlab is not gonna like that :D

[2016-04-10 10:15] marcusnovotny commented on #124
More data > less data

¯_(ツ)_/¯

[2016-04-10 10:20] sacdallago commented on #124
Yay

[code]

I'll lunch and dump the thing locally then

[2016-04-10 13:02] sacdallago commented on #124
Had to install mongo on a random server in the dorm, get iptables and auth right, dump the thing, set the right configs here and there...
Had to wait about 20 min for the dump to upload and almost 45min for the indexes to rebuild :zzz:

[code]

[code]

Me starting to question if my server is actually doing anything or it just got stuck

[code]

Oh no, actually it's 1x above its potential, being a

[2016-04-10 13:02] #124 closed

[2016-04-10 13:11] marcusnovotny commented on #124
You're the man @sacdallago , good job :+1:

[2016-04-10 13:13] marcusnovotny commented on #124
@yashha Can you integrate it on heroku so we can see whether all issues are fixed now?

[2016-04-10 13:14] sacdallago commented on #124
@marcusnovotny https://github.com/Rostlab/JS16_ProjectF/issues/369 there's aready a nice new issue :) and no, he can't integrate it on heroku because I iptable-allowed only the machine where got.show will be hosted. But you can look at https://beta.got.show

[2016-04-10 13:17] marcusnovotny commented on #124
@sacdallago Ok are the x axis ticks buggy on your machine too? They get update while panning / zooming but the initial ones remain stuck. Please confirm, never seen that before

[2016-04-10 13:18] sacdallago commented on #124
That's what the issue I posted above is about

[2016-04-10 13:20] marcusnovotny commented on #124
Sorry that was retarded. Probably a bug on their end then. Thanks for the quick response

[2016-04-10 15:28] yashha commented on #124
@marcusnovotny can we just update your package?
for chart.js and moblie.js?

[2016-04-10 15:47] jsalahov commented on #124
@yashha You can now :smile:

[2016-04-12 21:53] marcusnovotny opened #125 "No more Yellow Dick"
Yellow Dick is apparently still lingering in the got show database. We'll have to manually remove him with db.charactersentiments.remove({"name": "Yellow Dick"}) so he doesn't show up in the statistics :laughing:

[2016-04-16 09:28] marcusnovotny commented on #125
/push @sacdallago :grin:

[2016-04-16 14:26] ghost commented on #96
report submitted !

[2016-04-16 14:26] #96 closed

[2016-04-16 14:35] julienschmidt commented on #58
Included in the Report

[2016-04-16 14:35] #58 closed

[2016-04-17 08:04] sacdallago commented on #125
Oh sorry. Done. Also showing some additional info you might be interested in :D

[code]

[2016-04-17 08:04] #125 closed

[2016-04-20 11:46] marcusnovotny opened #128 "Make seasons visible on full zoom out"
Hey @sacdallago @yashha

Can you please pull the latest changes from pull request #127 ? I noticed the got.show antagonist feature doesn't show the season labels when zooming out even though there's enough space so I adjusted them to show for widths > 400. It's just a 1 line change

[2016-04-20 19:42] goldbergtatyana opened #129 "CSV files too larget for the server"
@julienschmidt @marcusnovotny guys, we have an EMERGENCY. We really need your HELP!

The site keeps getting down and the servers are 100% full. Is there a way for storing the files somewhere else?

[2016-04-20 19:46] julienschmidt commented on #129
The CSV files are too large?

What is the current size of the folder and how many files are there?

I'd rather suspect that there is something wrong.

[2016-04-20 19:50] goldbergtatyana commented on #129
Christian says that he agrees, that there is something eating up memory. There are too many connections to check if there is an attack. He says he's running out of time and options.. :(

[2016-04-20 19:59] julienschmidt commented on #129
If there are too many connections, it is more likely that something doesn't scale well.

Our module is completely independent of the number of connections, it just generates static files + updates the DB.
You can temporarily remove the [startUpdateLoop call](https://github.com/Rostlab/JS16_ProjectF/blob/2859ed087b7a292b1e6b504921f554e55cda7a4c/server/d4.js#L38) and see if that helps.

I'd however

[2016-04-20 20:26] sacdallago commented on #129
Solved guys. Thx.

I'm melting (as much as the server)

[2016-04-20 20:26] #129 closed

[2016-04-23 11:07] marcusnovotny commented on #128
/push @sacdallago

[2016-04-23 12:39] sacdallago commented on #128
I did! You mean I got to `npm update` right? I did that like.. 2 days ago

[2016-04-23 12:53] marcusnovotny commented on #128
No I only changed the public/chart.js file here, there was no update to the package. Can you just git pull the changes?

got.show still loads the old one: https://got.show/d4/chart.js
This is the new one:  https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/public/chart.js

Only a change in line 760.

} else if (w > 500 || dmn < (3 \* 365 \* 86400000)) { //Show season start

to

} else if

[2016-04-23 13:21] sacdallago commented on #128
?????

I have no idea where I should do the change and it sounds a lot to me like this is not the way this needs to be done.

If you made a change to your application, please package it and load the latest version on NPM. I'll then `npm update`. If this file is independent from the package, please find in project F where the file is, change the line, open a PR and put me as assignee

[2016-04-23 13:43] marcusnovotny commented on #128
The file is part of the package, but that one line change is only relevant for our website. It shows the Season labels also for a little less wide graphs when zooming out completely. Basically a special adaption because the Twitter graphs on the homepage are not as wide as expected.

That change is irrelevant for other users of the package. Updating it because of that one line seems like a huge ov

[2016-04-23 14:52] sacdallago commented on #128
There's nothing wrong with updating the package for one line :) And I can still not understand what you are talking about. If this is happening in project F, and project F is using code coming from your package, then I shouldn't be forced to update the line of code myself in the `node_packages` folder, the package should get updated and that line should be there in the update :)

[2016-04-23 14:53] marcusnovotny commented on #128
Ok, @CavidSalahov can you update the package?

[2016-04-23 15:07] jsalahov commented on #128
Yup. Done :smiley:

[2016-04-23 15:58] sacdallago commented on #128
Everything should be updated

[2016-04-23 15:58] #128 closed